<!DOCTYPE html>
<html lang="en">
<head>
    <link
            href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
            rel="stylesheet"
            id="bootstrap-css"
    />
</head>
<body>

    <div class="form-group" id="password-banner" >
        <label for="text"><h1>회원 인증</h1></label>
        <br>
        <label for="text">Password</label>
        <textarea class="form-control" id="password" placeholder="Password를 입력하세요"></textarea>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button class="btn btn-primary" id="btn-auth">인증</button>
    </div>

<div id="user-info-table" style="display: none">
    <table class="table table-horizontal table-bordered">
        <label for="text"><h2>내 정보</h2></label>
        <thead>
        <tr>
            <th>email</th>
            <th>name</th>
            <th>nickname</th>
        </tr>

        </thead>
        <tbody id='my-info'>
        </tbody>

    </table>

    <table class="table table-horizontal table-bordered">
        <label for="text"><h2>작성한 게시글</h2></label>
        <thead>
        <tr>
            <th>title</th>
        </tr>

        </thead>
        <tbody id='my-board-list'>
        </tbody>

    </table>
    <label for="text"><h2>작성한 댓글</h2></label>
    <table class="table table-horizontal table-bordered">

        <thead>
        <tr>
            <th>contents</th>
        </tr>

        </thead>
        <tbody id='my-comment-list'>
        </tbody>

    </table>
    <a href="/" role="button" class="btn btn-primary">홈</a>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/index.js"></script>
</body>
</html>